/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #f7f7f7;
}

p {
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
}

/* Estilos específicos */
.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 100%;
  width: 1000px;
  margin-inline: auto;
}

.header {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.navegacao ul {
  display: flex;
  gap: 20px;
}

.navegacao a {
  display: block;
  text-transform: uppercase;
  color: #111;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
}

.navegacao a:hover {
  background-color: #ee2211;
  color: #fff;
}

.conteudo-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bicicleta-descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
  background-color: #fff;
  padding: 40px;
}

.bicicleta-descricao h1 {
  font-size: 30px;
}

.bicicleta-descricao p {
  width: 420px;
  text-align: right;
}

.bicicleta-descricao a {
  background-color: #ee2211;
  color: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  border-radius: 5px;
}

.bicicleta-descricao a:hover {
  background-color: #c72213;
}
