/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #f7f7f7;
}

p {
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Estilos específicos */
.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 100%;
  width: 1000px;
  margin-inline: auto;
}

.header {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.navegacao ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.navegacao a {
  display: block;
  text-transform: uppercase;
  color: #111;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
}

.navegacao a:hover {
  background-color: #ee2211;
  color: #fff;
}

.conteudo-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bicicleta-descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
  background-color: #fff;
  padding: 40px;
}

.bicicleta-descricao h1 {
  font-size: 30px;
}

.bicicleta-descricao p {
  width: 420px;
  text-align: right;
}

.bicicleta-descricao a {
  background-color: #ee2211;
  color: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  border-radius: 5px;
}

.bicicleta-descricao a:hover {
  background-color: #c72213;
}

.titulo-vantagens {
  display: flex;
  align-items: center;
  font-size: 64px;
  color: #c6c6c6;
  text-align: right;
  padding: 40px;
  text-transform: uppercase;
}

.bicicleta-vantagens ul {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 60px 100px;
}

.bicicleta-vantagens h3 {
  margin-bottom: 10px;
}

.eletrico,
.velocidade,
.rastreador {
  position: relative;
}
.eletrico img {
  position: absolute;
  top: 0;
  left: -40px;
}

.velocidade img {
  position: absolute;
  top: 0;
  left: -40px;
}

.rastreador img {
  position: absolute;
  top: 0;
  left: -40px;
}

.rodape {
  margin-top: 60px;
  background-color: #fff;
  padding: 40px;
  text-align: center;
  font-weight: 500;
  max-width: 100%;
}

/* Responsividade */
@media (min-width: 320px) and (max-width: 900px) {
  .container {
    width: 100%;
    padding: 5px;
    gap: 50px;
  }

  .navegacao ul {
    justify-content: center;
  }

  .conteudo-principal {
    grid-template-columns: 1fr;
  }

  .bicicleta-descricao {
    align-items: center;
    text-align: center;
  }

  .bicicleta-descricao h1 {
    font-size: 24px;
  }

  .bicicleta-descricao p {
    width: auto;
    text-align: center;
    font-size: 16px;
  }

  .bicicleta-descricao a {
    padding: 10px 20px;
    font-size: 14px;
  }

  .titulo-vantagens {
    font-size: 32px;
    text-align: center;
    justify-content: center;
  }

  .eletrico p,
  .velocidade p,
  .rastreador p {
    font-size: 16px;
  }

  .rodape p {
    font-size: 16px;
  }
}
